body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e2c5bd;
}

textarea {
    resize: none;
    height: 75px;
    width: 300px;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #9B9B9B;
    margin-top: 30px;
}

#botones {
    margin-top: 5px;
}

.botonPrivacidad {
    width: 120px;
    height: 36px;
    border-radius: 6px;
    color: #4A4A4A;
    border: 1.5px solid #E84154;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
}

.dropdown-menu {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    background-color: white;
    border: 0.5px solid #9B9B9B;
}

.botonPublicar {
    width: 100px;
    height: 36px;
    border-radius: 6px;
    color: white;
    background-color: #E84154;
    font-size: 14px;
    font-weight: 500;
}

.botonModalAceptar {
    width: 100px;
    height: 36px;
    border-radius: 6px;
    color: white;
    background-color: #E84154;
    font-size: 14px;
    font-weight: 500;
}

.botonEliminar {
    width: 100px;
    height: 36px;
    border-radius: 6px;
    color: white;
    background-color: #00ADA7;
    font-size: 14px;
    font-weight: 500;
}

.botonCancelar {
    width: 100px;
    height: 36px;
    border-radius: 6px;
    color: white;
    background-color: #E84154;
    font-size: 14px;
    font-weight: 500;
}

.modal-body {
    font-size: 14px;
    color: #4A4A4A;
}

.modal-title {
    font-size: 16px;
    font-weight: 500;
    color: #4A4A4A;
    position: absolute;
}

.navbar {
    background-color: #e2c5bd;
}

.navbar .navbar-brand {
    color: #4a4a4a;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}

.navbar .navbar-text {
    color: #4a4a4a;
}

.navbar .navbar-text a {
    color: #ffffff;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    color: #4a4a4a;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
}

.navbar .navbar-link {
    color: #4a4a4a;
}

.navbar .navbar-link:hover {
    color: #ffffff;
}

.fa-bars {
    color: #4a4a4a;
    font-size: 30px;
}

#logo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
    top: 10px;
}

.botonBorrarComment {
    height: 30px;
    width: 30px;
    background-color: #E84154;
    color: white;
    border-radius: 50%;
    border: 1px solid #E84154;
    margin-left: 10px;
    cursor: pointer;
}

.heart {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    color: #4a4a4a;
}

.d-inline-block {
    font-size: 14px;
    color: #4A4A4A;
}

#cabecera {
    background-color: #FFF;
    padding-bottom: 30px;
}

#contenedorTareas {
    margin-top: 10px;
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 10px;
    height: 100vh;
}

#listaTareas {
    padding-bottom: 100px;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    color: #4A4A4A;
}