body {
    font-family: 'Montserrat', sans-serif;
}

.topBox {
    background-image: url(../../imagenesVegan/fotoIniciarSesion.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 167px;
    overflow: hidden;
    z-index: 100;
    /* z-index es el orden de capas */
}

#msnUsuario {
    padding-top: 200px;
    color: #4A4A4A;
    font-size: 10px;
}

.error {
    padding: 5px;
    border: 1px solid #DD3C10;
    box-sizing: border-box;
    background-color: #FFEBE8;
    box-shadow: none;
}

#login {
    padding-top: 30px;
}

#isologo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.inputInicioSesion {
    width: 255px;
    height: 36px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: none;
    color: #4A4A4A;
    font-size: 14px;
    padding-left: 10px;
}

#email {
    margin-bottom: 10px;
}

#password {
    margin-bottom: 3px;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: #9B9B9B;
    text-align: left;
}

#loginButton {
    margin-bottom: 10px;
    width: 255px;
    height: 36px;
    background-color: #00ADA7;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

p {
    font-size: 11px;
    font-weight: 300;
    color: #4A4A4A;
    margin-left: 138px;
}