body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e2c5bd;
}

#usuario {
    width: 90px;
    height: 90px;
}

#contenedorPerfil {
    margin-top: 0px;
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 15px;
}

#contenedorPerfilDos {
    margin-top: 10px;
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

#datosUsuario {
    color: #4a4a4a;
    margin-top: 20px;
}

#datosNombre {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
}

#datosMail {
    font-size: 12px;
}

.navbar {
    background-color: #e2c5bd;
}

.navbar .navbar-brand {
    color: #4a4a4a;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}

.navbar .navbar-text {
    color: #4a4a4a;
}

.navbar .navbar-text a {
    color: #ffffff;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    color: #4a4a4a;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
}

.navbar .navbar-link {
    color: #4a4a4a;
}

.navbar .navbar-link:hover {
    color: #ffffff;
}

.fa-bars {
    color: #4a4a4a;
    font-size: 30px;
}

#logo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
    top: 10px;
}

.nombre {
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    margin-bottom: 5px;
}

.publicacion {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    width: 100%;
    max-width: 700px;
}

#fotoEjemplo {
    width: 100%;
    max-width: 700px;
}

.fa-heart {
    color: #E84154;
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
}

.fa-comment {
    color: #E84154;
    text-align: left;
    font-size: 20px;
    margin-left: 25px;
}

.entrar {
    font-size: 14px;
    color: #00ADA7;
    font-weight: 600;
}

a:link {
    color: #00ADA7;
    text-decoration: none;
}

a:visited {
    color: #00ADA7;
    text-decoration: none;
}

a:hover {
    color: #00ADA7;
    text-decoration: none;
}

a:active {
    color: #00ADA7;
    text-decoration: none;
}

hr.style1 {
    border-top: 1px solid #c7c7c7;
    width: 700px;
    margin-left: 17px;
    margin-top: 10px;
}